body{
    font-family: 'Poppins', sans-serif;
}
#navbbar{
    position: fixed;
    width: 100%;
}
.headline li {
    margin: 0 50px;
}
.textpart{
    margin-left: 40px;
    margin-top: 30px;
}

.himel{
    color: blue;
}
.pic{
    margin-left: 350px;
}
#botam{
    text-decoration: none;
    color: whitesmoke;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}
    .social-media{
       margin:  50px 0;
    }
    .social-media a{
        margin: 10px;
        font-size: 30px;
    
    }
    .wp{
        color: green;
    }
    .ins{
        color: rgb(255, 0, 43);
    }
 .git{
     color: black;
 }

.nav-item{
    margin-left: 100px;
}



#Home{
    display: flex;
    height: 600px;
    padding-top: 60px;
    
}



#second-pic{
    height: 350px;
    width: 250px;
    margin-left: 50px;
}
.abt{
    text-align: center;
    color: blue;
}
.flexpart{
    display: flex;
}
.imformation{
width: 500px;
margin-left: 400px;
margin-top: 100px;
}
#About{
    height: 650px;
}

#skill{
    margin-left: 40px;
    height: 600px;
    
}
.Skill-text{
    width: 600px;
}
.skill-picture{
    display: flex;
}

.project-Skill{
    border: 1px solid whitesmoke;
    height: 50px;
    width: 600px;
    margin:  10px;
    box-shadow: 0px 0px 20px #888888;
}

h4{
    margin-left: 30px;
}
.html{
    border: 0.1px solid blue;
    height: 5px ;
    width: 550px;
    background-color: blue;
    padding: 5px 0;
}
.css{
    border: 0.1px solid blue;
    height: 5px ;
    width: 520px;
    background-color: blue;
    padding: 5px 0;

}

.js{
    border: 0.1px solid blue;
    height: 5px ;
    width: 470px;
    background-color: blue;
    padding: 5px 0;
}
.py{
    border: 0.1px solid blue;
    height: 5px ;
    width: 450px;
    background-color: blue;
    padding: 5px 0;
}
.react{
    border: 0.1px solid blue;
    height: 5px ;
    width: 330px;
    background-color: blue;
    padding: 5px 0;
}
.firebase{
    border: 0.1px solid blue;
    height: 5px ;
    width: 350px;
    background-color: blue;
    padding: 5px 0;
}
.wordpress{
    border: 0.1px solid blue;
    height: 5px ;
    width: 570px;
    background-color: blue;
    padding: 5px 0;
}
.cobi{
margin-left: 100px;
margin-top: 150px;
}
.third-pic{
    height: 350px;
    width: 400px;
}
#Work{
    height: 600px;
   
}
.work-pic{
    height: 280px ;
    width: 400px;
    margin: 10px;
}
.picture-of-work{
    margin-left: 40px;
}
#contact{
    height: 500px;
}

.inpot{
    border: none;
    border: 2px solid black;
   padding-left: 100px;
   border-radius: 5px;
}
.tex-box{
    border: none;
    border: 2px solid black;
    padding-left: 300px;
}
.box{
    text-align: center;
}
.submit-btn{
    margin-left: 450px;
}
.footer{
    border: 2px solid black;
    color: white;
    background-color: black;
    text-align: center;
    
}

@media (max-width:500px){
    #Home{
        flex-wrap:wrap;
        width: 400px;
       
    }
    .first-image{
       position: absolute;
    bottom: 40px;
    left: 60px;
    height: 300px;
    width: 300px;
    
    }
    .himel{
        font-size: medium;
        width: 200px;
    }
    .webdev{
        font-size: medium;
        width: 250px;
    }

    .social-media{
       margin: 0;
       width: 5px;
    }
    

    .flexpart{
        flex-wrap: wrap;
    }
    #second-pic{
        height: 170px;
        width: 120px;
     
    }
    .second-cobi{
       margin-left:90px;
    }
    .imformation{
       margin: 0;
        text-align: center;
        width: 400px;
       
    }
#skill{
    margin: 0;
}
    .skill-picture{
        flex-wrap: wrap;
    }
    .Skill-text{
        width: 360px;
        padding-left: 3px;
    }
.project-Skill{
    width: 380px;
}
.html{
    width: 320px;
}
.css{
    width: 300px;
}
.js{
    width: 290px;
}
.py{
    width: 292px;
}
.wordpress{
    width: 345px;
}
.firebase{
    width: 310px;
}
#work{
    margin: 0;
   
}
.work-pic{
    width: 380px;
}
.picture-of-work{
    margin: 0;
}
    .cobi{
        display: none;
    }
    .inpot{
        width: 200px;
    }
    .tex-box{
        width: 300px;
    }
    .submit-btn{
       margin-left: 50px;
    }
    .footer{
        width: 100%;
    }
}